{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            {% if jobs %}
                <div class="row">
                    {% for job in jobs %}
                        <div class="col-4">
                            <div class="card" style="width: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ job.title }}</h5>
                                    <p class="card-text text-truncate">{{ job.requirements }}</p>
                                    <p class="card-text"><small>{{ job.minimum_education }}</small></p>
                                    <p class="card-text "><small>{{ job.salary_range }}</small></p>
                                    <a href="{% url 'job_detail' job.id %}" class="btn btn-primary">Candidatar-se</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center mt-5">
                    <h2>Não há nenhuma vaga cadastrada no momento..</h2>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}